<a href="https://colab.research.google.com/github/gear-patt/Machine-Learning-Templates/blob/main/DecisionTree_Demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import OneHotEncoder

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Datasets/KU ML datasets/01-census-income-all.csv')

In [ ]:
df

,age,workclass,weight,education,edu num,marital status,occupation,relationship,race,sex,captial-gain,capital-loss,hours-per-week,native country,label
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,No
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,No
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,No
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,No
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,No
48838,64,?,321403,HS-grad,9,Widowed,?,Other-relative,Black,Male,0,0,40,United-States,No
48839,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,No
48840,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,No
48841,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,Yes

In [ ]:
df.rename(columns={'captial-gain': 'capital-gain'},inplace=True)
df

,age,workclass,weight,education,edu num,marital status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native country,label
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,No
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,No
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,No
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,No
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,No
48838,64,?,321403,HS-grad,9,Widowed,?,Other-relative,Black,Male,0,0,40,United-States,No
48839,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,No
48840,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,No
48841,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,Yes

In [ ]:
X = df[ ['age', 'edu num','capital-gain', 'marital status', 'occupation', 'sex',

       'capital-loss', 'hours-per-week' ] ]

In [ ]:
y = df['label']

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [ ]:
transformer = make_column_transformer(
    ( OneHotEncoder(), ['marital status', 'occupation', 'sex']),
    remainder='passthrough')

In [ ]:
X_train_transformed = transformer.fit_transform(X_train)

In [ ]:
X_test_transformed = transformer.transform(X_test)

## Decision Tree

In [ ]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:
dtree = DecisionTreeClassifier()

In [ ]:
dtree.fit(X_train_transformed, y_train)

DecisionTreeClassifier()

In [ ]:
dtree.feature_importances_

array([4.17561781e-03, 7.17571161e-04, 2.35242653e-01, 1.47200021e-03,
       5.01735058e-03, 2.00096721e-03, 1.22439474e-03, 3.58829067e-03,
       6.95834001e-03, 1.73192480e-04, 5.92528800e-03, 1.18958943e-02,
       5.04298104e-03, 2.97196241e-03, 5.50570467e-03, 5.84906012e-03,
       1.36727074e-04, 1.06892669e-02, 4.71088312e-03, 8.20946793e-03,
       5.09780686e-03, 5.30635775e-03, 9.25544448e-03, 1.01257500e-02,
       1.83818659e-01, 1.58486326e-01, 1.32586124e-01, 5.04612535e-02,
       1.23354664e-01])

In [ ]:
dtree.feature_importances_.max()

0.23524265345438558

You may get rid of features that have very low feature importances, to improve the model performance.

In [ ]:
dtree.score(X_train_transformed, y_train)

0.9536508586491951

In [ ]:
dtree.score(X_test_transformed, y_test)

0.8337598525949432

You can see that the model is overfitting. You can use cross validation to avoid this.

In [ ]:
from sklearn.model_selection import cross_val_score, cross_validate

In [ ]:
cross_validate(dtree, X_train_transformed.toarray(), y_train, cv=5, return_train_score=True)

{'fit_time': array([0.17026877, 0.16960979, 0.16230822, 0.16427541, 0.16982436]),
 'score_time': array([0.01944351, 0.02638125, 0.02199554, 0.01736641, 0.01771855]),
 'test_score': array([0.82392834, 0.82879079, 0.81829814, 0.8213463 , 0.82109035]),
 'train_score': array([0.95754687, 0.95684305, 0.95831467, 0.95719633, 0.95751624])}

## Reduce Overfitting

In [ ]:
dtree.fit(X_train_transformed, y_train)

DecisionTreeClassifier()

In [ ]:
dtree.get_depth()

44

In [ ]:
dtree.get_n_leaves()

6545

In [ ]:
dtree.tree_

In [ ]:
from sklearn.model_selection import GridSearchCV

In [ ]:
param_grid = {'max_depth': [10, 20],

              'max_leaf_nodes': [1000,2000,3000]}

In [ ]:
grid_search = GridSearchCV(DecisionTreeClassifier(),
                           param_grid,
                           cv=5,
                           return_train_score=True)

In [ ]:
grid_search.fit(X_train_transformed, y_train)

GridSearchCV(cv=5, estimator=DecisionTreeClassifier(),
             param_grid={'max_depth': [10, 20],
                         'max_leaf_nodes': [1000, 2000, 3000]},
             return_train_score=True)

In [ ]:
grid_search.best_params_

{'max_depth': 10, 'max_leaf_nodes': 1000}

In [ ]:
grid_search.score(X_train_transformed, y_train)

0.8687072914800502

In [ ]:
grid_search.score(X_test_transformed, y_test)

0.8643668748080663

In [ ]:
grid_search.cv_results_

{'mean_fit_time': array([0.22913227, 0.22173314, 0.22551966, 0.45766602, 0.60441995,
        0.72620182]),
 'mean_score_time': array([0.0162621 , 0.01685085, 0.01645327, 0.01631427, 0.01690221,
        0.01812801]),
 'mean_test_score': array([0.85547554, 0.85529639, 0.85542434, 0.84997299, 0.84273015,
        0.8383793 ]),
 'mean_train_score': array([0.86893123, 0.86889924, 0.86889924, 0.89943183, 0.91487727,
        0.91911293]),
 'param_max_depth': masked_array(data=[10, 10, 10, 20, 20, 20],
              mask=[False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_max_leaf_nodes': masked_array(data=[1000, 2000, 3000, 1000, 2000, 3000],
              mask=[False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'max_depth': 10, 'max_leaf_nodes': 1000},
  {'max_depth': 10, 'max_leaf_nodes': 2000},
  {'max_depth': 10, 'max_leaf_nodes': 3000},
  {'max_depth': 20, 'max_leaf_nodes': 1000},
  {'max_depth': 20, 'max_leaf_nodes': 2000},
  {'max_depth': 20, 'max_leaf_nodes': 3000}],
 'rank_test_score': array([1, 3, 2, 4, 5, 6], dtype=int32),
 'split0_test_score': array([0.8565579 , 0.85668586, 0.85694178, 0.84990403, 0.84222649,
        0.8381318 ]),
 'split0_train_score': array([0.86934545, 0.86934545, 0.86934545, 0.89813808, 0.91407   ,
        0.91813296]),
 'split1_test_score': array([0.85604607, 0.85540627, 0.85591811, 0.85399872, 0.84900832,
        0.84427383]),
 'split1_train_score': array([0.86739395, 0.86745793, 0.86745793, 0.898426  , 0.91387805,
        0.91826093]),
 'split2_test_score': array([0.85809341, 0.85796545, 0.85822137, 0.85118362, 0.84171465,
        0.83851567]),
 'split2_train_score': array([0.86995329, 0.8699213 , 0.8699213 , 0.90108132, 0.91550963,
        0.91886877]),
 'split3_test_score': array([0.8510366 , 0.85116458, 0.85065267, 0.84259022, 0.83683133,
        0.83132838]),
 'split3_train_score': array([0.87005342, 0.87002143, 0.87002143, 0.90102051, 0.9177197 ,
        0.92354202]),
 'split4_test_score': array([0.85564372, 0.85525979, 0.85538777, 0.85218838, 0.84386998,
        0.83964679]),
 'split4_train_score': array([0.86791004, 0.86775009, 0.86775009, 0.89849323, 0.913209  ,
        0.91675997]),
 'std_fit_time': array([0.00864483, 0.00447007, 0.00230432, 0.01099528, 0.0105386 ,
        0.01979868]),
 'std_score_time': array([0.00047633, 0.0015737 , 0.0004001 , 0.0005044 , 0.00050479,
        0.00098896]),
 'std_test_score': array([0.00236992, 0.00228647, 0.00257449, 0.00392658, 0.00391907,
        0.00415084]),
 'std_train_score': array([0.00108458, 0.00108637, 0.00108637, 0.00132749, 0.00160702,
        0.00231944])}

## Visualize the tree