<a href="https://colab.research.google.com/github/gear-patt/Machine-Learning-Templates/blob/main/LogisticRegression_Demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import OneHotEncoder

In [3]:
df = pd.read_csv('/content/drive/MyDrive/Datasets/KU ML datasets/01-census-income-all.csv')

In [4]:
df

,age,workclass,weight,education,edu num,marital status,occupation,relationship,race,sex,captial-gain,capital-loss,hours-per-week,native country,label
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,No
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,No
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,No
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,No
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,No
48838,64,?,321403,HS-grad,9,Widowed,?,Other-relative,Black,Male,0,0,40,United-States,No
48839,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,No
48840,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,No
48841,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,Yes

In [5]:
df.rename(columns={'captial-gain': 'capital-gain'},inplace=True)
df

,age,workclass,weight,education,edu num,marital status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native country,label
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,No
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,No
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,No
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,No
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,No
48838,64,?,321403,HS-grad,9,Widowed,?,Other-relative,Black,Male,0,0,40,United-States,No
48839,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,No
48840,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,No
48841,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,Yes

In [6]:
X = df[ ['age', 'edu num','capital-gain', 'marital status', 'occupation', 'sex',

       'capital-loss', 'hours-per-week' ] ]

In [7]:
y = df['label']

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [10]:
transformer = make_column_transformer(
    ( OneHotEncoder(), ['marital status', 'occupation', 'sex']),
    remainder='passthrough')

In [11]:
X_train_transformed = transformer.fit_transform(X_train)

In [12]:
X_test_transformed = transformer.transform(X_test)

## Logistic Regression

In [13]:
from sklearn.linear_model import LogisticRegression

In [24]:
log_reg = LogisticRegression(max_iter=5000, penalty='none')

In [25]:
log_reg.fit(X_train_transformed, y_train)

LogisticRegression(max_iter=5000, penalty='none')

In [26]:
log_reg.coef_

array([[-1.22044179e+00,  7.73728546e-02,  1.08579528e+00,
        -5.75272108e-01, -1.54329893e+00, -1.23127238e+00,
        -1.01899289e+00, -9.03098751e-01, -1.24327001e-01,
         2.35202899e-02, -2.26127767e-01,  5.19617633e-01,
        -1.39777542e+00, -1.00571845e+00, -4.30073587e-01,
        -1.21308364e+00, -2.40563822e-01,  3.01399874e-01,
         2.30960411e-01, -7.26531981e-02,  4.11398120e-01,
        -2.99584657e-01, -2.27196637e+00, -2.15414359e+00,
         2.35271965e-02,  2.78483351e-01,  3.14249422e-04,
         6.73987470e-04,  2.75163616e-02]])

In [27]:
log_reg.intercept_

array([-4.42610996])

In [28]:
log_reg.predict(X_train_transformed[0])

array(['Yes'], dtype=object)

In [29]:
log_reg.decision_function(X_train_transformed[0])

array([2.0454372])

In [32]:
log_reg.predict_proba(X_train_transformed[0])

array([[0.11451424, 0.88548576]])

In [33]:
log_reg.classes_

array(['No', 'Yes'], dtype=object)

In [30]:
log_reg.score(X_train_transformed, y_train)

0.8508177002021856

In [31]:
log_reg.score(X_test_transformed, y_test)

0.8462483365748797