<a href="https://colab.research.google.com/github/gear-patt/Machine-Learning-Templates/blob/main/NaiveBayes_Demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Naive Bayes

In [1]:
from sklearn.naive_bayes import BernoulliNB

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('/content/drive/MyDrive/Datasets/KU ML datasets/01-census-income-all.csv')

In [5]:
df

,age,workclass,weight,education,edu num,marital status,occupation,relationship,race,sex,captial-gain,capital-loss,hours-per-week,native country,label
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,No
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,No
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,No
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,No
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,No
48838,64,?,321403,HS-grad,9,Widowed,?,Other-relative,Black,Male,0,0,40,United-States,No
48839,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,No
48840,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,No
48841,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,Yes

In [6]:
X = df[ ['marital status'] ]

In [7]:
y = df['label']

In [12]:
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import OneHotEncoder

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [13]:
transformer = make_column_transformer(
    ( OneHotEncoder(), ['marital status']))

In [14]:
X_marital_transformed = transformer.fit_transform(X_train)

In [15]:
bnb = BernoulliNB()

In [16]:
bnb.fit(X_marital_transformed, y_train)

BernoulliNB()

In [17]:
bnb.class_count_

array([29691.,  9382.])

In [18]:
bnb.feature_log_prob_

array([[-1.82877469, -7.20762415, -1.09656004, -4.1761738 , -0.88310228,
        -3.26427868, -3.27758264],
       [-2.85334211, -6.58181203, -0.15819051, -5.21493576, -2.76156699,
        -4.79005256, -4.52178858]])

In [19]:
bnb.score(X_marital_transformed, y_train)

0.7110792618944027

In [20]:
X_marital_test = transformer.transform(X_test)

In [21]:
bnb.score(X_marital_test, y_test)

0.7124577745931007